Repository JasperFx/marten, pull requests merged in 2019-07, with the labels that each got.

#1303 Fixed flaky Marten.Testing.Linq.query_with_dates_Tests.can_select_DateTimeOffset_and_will_return_localtime test
  src/Marten.Testing/Linq/query_with_dates_Tests.cs
Labels: CI, bug

#1304 Updated Custom Projection Documentation.
  documentation/documentation/events/projections/custom.md
  src/Marten.Testing/Events/Projections/custom_async_transformation_of_events.cs
  src/Marten.Testing/Events/Projections/custom_transformation_of_events.cs
Labels: docs, enhancement, event store

#1316 Fixed parameter order for ForeignKey
  src/Marten.Testing/Schema/DocumentMapping_schema_patch_foreign_key_writing.cs
  src/Marten/MartenRegistry.cs
Labels: Schema management, bug

#1326 Short circuit applying empty streams to all Inline projections when saving if there are no streams
  src/Marten/DocumentSession.cs
  src/Marten/Events/Projections/AggregateFinder.cs
Labels: event store, performance

#1329 Fixes #1311 - Unable to create a self referencing foreign key
  src/Marten.Testing/Schema/configuring_foreign_key_fields_Tests.cs
  src/Marten/Schema/DocumentMapping.cs
Labels: Schema management, bug
