Repository JasperFx/marten, pull requests merged in 2019-08, with the labels that each got.

#1330 Add functionality to run `ApplyAllConfiguredChangesToDatabase` independent of StoreOptions AutoCreate
  src/Marten.Testing/Schema/ApplyAllConfiguredChangesToDatabaseTests.cs
  src/Marten/Schema/IDocumentSchema.cs
  src/Marten/Storage/TenantSchema.cs
Labels: Schema management, enhancement

#1331 Fix Any with Contains subquery fails with CamelCase serialization
  src/Marten.Testing/Bugs/Bug_1325_Any_with_contains_on_IList_of_string.cs
  src/Marten/Linq/CollectionAnyContainmentWhereFragment.cs
Labels: bug, linq

#1332 Add unit test for ForeignKey on same member as Identity
  src/Marten.Testing/Schema/configuring_foreign_key_fields_Tests.cs
Labels: Schema management, bug

#1335 Fix schema generation for Foreign key with tenancy conjoined
  src/Marten.Testing/Schema/ForeignKeyDefinitionTests.cs
  src/Marten/Schema/ForeignKeyDefinition.cs
Labels: Schema management, bug, multi-tenancy

#1336 Update docs wording and sample for tenancy basic operations
  documentation/documentation/documents/tenancy/basicoperations.md
  src/Marten.Testing/MultiTenancy/using_mix_of_tenanted_and_not_tenanted_documents.cs
Labels: docs, enhancement

#1334 Issue #1190 - ensure the locator for a CollectionAnyContainment query matches the field's index
  src/Marten.Testing/Linq/IsNullNotNullArbitraryDepthTests.cs
  src/Marten.Testing/Linq/previewing_the_command_from_a_queryable_Tests.cs
  src/Marten.Testing/Schema/DuplicatedFieldTests.cs
  src/Marten.Testing/Schema/JsonLocatorFieldTests.cs
  src/Marten.Testing/Util/CommandBuilderTests.cs
  src/Marten/Linq/ChildCollectionWhereVisitor.cs
  src/Marten/Linq/CollectionAnyContainmentWhereFragment.cs
  src/Marten/Linq/WhereClauseVisitor.cs
  src/Marten/Schema/DuplicatedField.cs
  src/Marten/Schema/FieldCollection.cs
  src/Marten/Schema/JsonLocatorField.cs
  src/Marten/Util/CommandBuilder.cs
  src/Marten/Util/TypeMappings.cs
Labels: enhancement, linq

#1339 Fixed several locations where an assumption is made that a ForeignKey…
  src/Marten.Testing/Bugs/bug_1338_Validate_Null_ForeignKeyDefinition_ReferenceDocumenType.cs
  src/Marten/Services/UnitOfWork.cs
  src/Marten/Storage/StorageFeatures.cs
  src/MartenBenchmarks/BenchAgainst/StorageFeatures.cs
  src/MartenBenchmarks/BenchAgainst/UnitOfWorkBaseline.cs
Labels: Schema management, bug

#1340 Release 3.7.0
  martenbuild.cs
  martenbuild.csproj
  src/Marten.CommandLine/Marten.CommandLine.csproj
  src/Marten.NodaTime.Testing/Marten.NodaTime.Testing.csproj
  src/Marten.NodaTime/Marten.NodaTime.csproj
  src/Marten.Storyteller/Marten.Storyteller.csproj
  src/Marten.Testing/Marten.Testing.csproj
  src/Marten/Marten.csproj
Labels: CI

#1341 Fixes an issue where the `ViewProjection` class can process events out of order
  src/Marten.Testing/Events/Projections/custom_async_transformation_of_events.cs
  src/Marten/Events/Projections/ViewProjection.cs
Labels: bug, event store
