Repository JasperFx/marten, pull requests merged in 2019-11, with the labels that each got.

#1381 #1380 - NullReferenceException when IQueryable converting String.Equals
  src/Marten.Testing/Linq/Compatibility/simple_where_clauses.cs
  src/Marten/Linq/WhereFragment.cs
  src/Marten/Util/TypeMappings.cs
Labels: bug, linq

#1382 Fixes #1376 - check for null value with nullable enum type in Linq query
  src/Marten.Testing/Linq/query_for_sum_Tests.cs
  src/Marten.Testing/Target.cs
  src/Marten/Schema/JsonLocatorField.cs
Labels: bug, linq

#1383 Fix GH-1374
  src/Marten.Testing/Bugs/Bug_337_certain_boolean_searches_are_not_using_searchable_field.cs
  src/Marten.Testing/Linq/BoolNotVisitorTests.cs
  src/Marten/Linq/NotVisitor.cs
Labels: enhancement, linq

#1368 Use async versions of dispose and close methods
  src/Marten/Marten.csproj
  src/Marten/Services/TransactionState.cs
Labels: enhancement
