Repository JasperFx/marten, pull requests merged in 2020-05, with the labels that each got.

#1363 Allow case invariance for netcore apps
  src/Marten.Testing/Linq/InvariantCultureIgnoreCase_filtering.cs
  src/Marten/Linq/Parsing/StringComparisonParser.cs
Labels: bug, linq

#1480 Event Store uses sequential guids for the stream ids. Closes GH-1432
  src/Marten/Events/EventStore.cs
  src/Marten/Events/EventStream.cs
  src/Marten/Events/StreamState.cs
Labels: enhancement, event store

#1450 Add feature to disable using default tenant to store multi tenanted docs
  documentation/documentation/documents/tenancy/basicoperations.md
  src/Marten.Testing/Acceptance/disabling_default_tenant_usage.cs
  src/Marten/DefaultTenantUsageDisabledException.cs
  src/Marten/DocumentStore.cs
  src/Marten/StoreOptions.cs
Labels: enhancement, multi-tenancy
