Repository JasperFx/marten, pull requests merged in 2021-01, with the labels that each got.

#1696 Fix to close connection on rollback only if it owns the connection
  src/Marten.Testing/Services/ManagedConnectionTests.cs
  src/Marten/Services/TransactionState.cs
Labels: 3.x, connection mangement

#1697 Fix to throw an exception for unique index without any properties on 3.x
  src/Marten.Testing/Acceptance/unique_indexes.cs
  src/Marten/Schema/DocumentMapping.cs
Labels: 3.x, schema management

#1706 Fix issue 1703: symmetric equality
  src/Marten.Testing/Bugs/equality_not_symmetric.cs
  src/Marten/Linq/Parsing/Methods/StringComparisonParser.cs
Labels: 4.x, bug, linq

#1709 Bugfix/symmetric equality (for objects)
  src/Marten.Testing/Bugs/Bug_1703_Equality_Not_Symmetric.cs
  src/Marten/Linq/Parsing/Methods/SimpleEqualsParser.cs
  src/Marten/Linq/Parsing/Methods/StringComparisonParser.cs
Labels: 4.x, bug, linq

#1728 Add missing 'no', fix some readability issues.
  documentation/documentation/events/projections/custom.md
Labels: 3.x, docs, event store

#1727 Structured Logging + Dependency Pass
  src/Marten.AsyncDaemon.Testing/Marten.AsyncDaemon.Testing.csproj
  src/Marten.CommandLine.Testing/Marten.CommandLine.Testing.csproj
  src/Marten.CommandLine/Marten.CommandLine.csproj
  src/Marten.NodaTime.Testing/Marten.NodaTime.Testing.csproj
  src/Marten.NodaTime/Marten.NodaTime.csproj
  src/Marten.Schema.Testing/Marten.Schema.Testing.csproj
  src/Marten.Testing/Marten.Testing.csproj
  src/Marten/Events/Daemon/AsyncProjectionHostedService.cs
  src/Marten/Events/Daemon/AsyncProjectionShardBase.cs
  src/Marten/Events/Daemon/HighWater/HighWaterAgent.cs
  src/Marten/Events/Daemon/ProjectionAgent.cs
  src/Marten/Marten.csproj
Labels: 4.x, enhancement
