Repository JasperFx/marten, pull requests merged in 2021-11, with the labels that each got.

#1958 Removed duplicate code snippet in Events Quickstart
  docs/events/quickstart.md
  src/Marten.Schema.Testing/QuestTypes.cs
Labels: docs

#1966 Brought back Event Type Mapping by adding a dedicated MapEventType method to IEventStoreOptions
  build.cmd
  build.ps1
  build.sh
  docs/events/versioning.md
  src/Marten.Testing/Events/SchemaChange/NamespaceChange.cs
  src/Marten/Events/EventGraph.cs
  src/Marten/Events/IEventStoreOptions.cs
Labels: bug, event store

#1967 Fix CA2012 warnings
  src/.editorconfig
  src/Marten/Events/Aggregation/AsyncLiveAggregatorBase.cs
  src/Marten/Events/Daemon/ActionParameters.cs
  src/Marten/Events/Daemon/ProjectionDaemon.cs
  src/Marten/Services/SystemTextJsonSerializer.cs
  src/Marten/Util/SOHSkippingStream.cs
  src/Marten/Util/SharedBuffer.cs
  src/Marten/Util/StreamExtensions.cs
Labels: bug, Threading

#1971 Do not ignore .Take() when using .Single() in LINQ query
  src/Marten.Testing/Linq/invoking_queryable_through_single_Tests.cs
  src/Marten.Testing/Linq/invoking_queryable_through_single_async_Tests.cs
  src/Marten/Linq/Parsing/LinqHandlerBuilder.cs
Labels: bug, linq

#1978 Any query optimization (avoid counting all rows)
  src/Marten.Testing/Linq/previewing_the_command_from_a_queryable_Tests.cs
  src/Marten/Linq/SqlGeneration/AnySelectClause.cs
  src/Marten/Linq/SqlGeneration/SelectorStatement.cs
Labels: enhancement, linq, performance

#1980 Add docs sample for rebuild projection
  docs/events/projections/index.md
  docs/events/projections/rebuilding.md
  src/Marten.AsyncDaemon.Testing/event_projections_end_to_end.cs
Labels: enhancement, docs, projections, async daemon

#1986 Update Marten to use Weasel v1.2.0
  src/Marten.Schema.Testing/Storage/DocumentTableTester.cs
  src/Marten.Testing/Bugs/Bug_1982_custom_index_with_include.cs
  src/Marten/Marten.csproj
Labels: bug, schema management

#1985 Fix #1984: recursively reference all assemblies for document persistence
  src/Marten.Testing.OtherAssembly/Bug1984/GenericEntity.cs
  src/Marten.Testing.ThirdAssembly/Bug1984/Data.cs
  src/Marten.Testing.ThirdAssembly/Marten.Testing.ThirdAssembly.csproj
  src/Marten.Testing/Bugs/Bug_1984_need_to_recursively_reference_assemblies_in_lamar_code_generation.cs
  src/Marten.Testing/Marten.Testing.csproj
  src/Marten.sln
  src/Marten/Internal/CodeGeneration/DocumentPersistenceBuilder.cs
  src/Marten/Internal/CompiledQueries/CompiledQuerySourceBuilder.cs
  src/Marten/Internal/WalkReferencedAssemblies.cs
Labels: bug, code generation

#1981 .NET 6/Async Pass
  src/Marten.AsyncDaemon.Testing/Marten.AsyncDaemon.Testing.csproj
  src/Marten.AsyncDaemon.Testing/TestingSupport/DaemonContext.cs
  src/Marten.CommandLine/Commands/Projection/ProjectionCommand.cs
  src/Marten.Testing/Acceptance/document_inserts.cs
  src/Marten.Testing/Bugs/Bug_1891_compiled_query_problem.cs
  src/Marten.Testing/Events/Aggregation/aggregate_stream_samples.cs
  src/Marten/Events/Aggregation/AggregateProjection.CodeGen.cs
  src/Marten/Events/Aggregation/AggregationRuntime.cs
  src/Marten/Events/Aggregation/TenantSliceRange.cs
  src/Marten/Events/Daemon/HighWater/HighWaterAgent.cs
  src/Marten/Events/Daemon/IProjectionDaemon.cs
  src/Marten/Events/Daemon/ProjectionDaemon.cs
  src/Marten/Events/Daemon/ShardStatusWatcher.cs
  src/Marten/Events/Daemon/TenantedEventRange.cs
  src/Marten/Linq/Parsing/Methods/StringContains.cs
  src/Marten/Schema/DocumentCleaner.cs
  src/Marten/Services/BatchQuerying/BatchQueryItem.cs
  src/Marten/Services/ManagedConnectionExtensions.cs
  src/Marten/Storage/BulkInsertion.cs
Labels: enhancement, async daemon, 4.x
