Repository JasperFx/marten, pull requests merged in 2022-03, with the labels that each got.

#2104 Moved NGram tests into DocumentDb tests. Also updated them to use AsyncApi
  src/DocumentDbTests/Indexes/NgramSearchTests.cs
  src/Marten.Testing/Linq/NgramSearchTests.cs
  src/Marten.Testing/Marten.Testing.csproj
Labels: full text search, 5.x

#2108 Fix GH-1802
  src/DocumentDbTests/Reading/Linq/InvariantCultureIgnoreCase_filtering.cs
  src/Marten/Linq/Parsing/Methods/StringComparisonParser.cs
Labels: bug, linq

#2109 Fix GH-2028
  src/DocumentDbTests/Indexes/computed_indexes.cs
  src/Marten.Testing/Documents/Target.cs
  src/Marten/Schema/ComputedIndex.cs
Labels: bug, indexes

#2131 Fix link to IIdGeneration.cs
  docs/documents/identity.md
Labels: docs, schema management

#2130 Update FastExpressionCompiler and move to internal package
  src/Marten/Events/CodeGeneration/MethodCollection.cs
  src/Marten/Marten.csproj
  src/Marten/Util/FastExpressionCompiler.cs
Labels: code generation
