Repository JasperFx/marten, pull requests merged in 2022-05, with the labels that each got.

#2196 Updated docs to include private setter usage in System.Text.Json
  docs/configuration/json.md
Labels: docs

#2216 Ensure fetched events are always in sequence order
  src/Marten/Events/Daemon/EventFetcher.cs
Labels: bug, async daemon, 5.x

#2217 Fix a compatibility issue with .NET 6
  src/Marten/Marten.csproj
Labels: 3.x

#2223 Query with "contains any" and include generates invalid SQL
  src/DocumentDbTests/Bugs/Bug_2223_list_contains_any_generates_invalid_sql.cs
  src/Marten/Linq/SqlGeneration/IdSelectorStatement.cs
Labels: bug, linq

#2257 Reproduction for events being applied out of sequence when rebuilding a MultiStreamAggregation
  src/Marten.AsyncDaemon.Testing/MultiStreamAggregationTests.cs
  src/Marten/Events/Aggregation/EventSlice.cs
Labels: bug, event store, async daemon
