Repository JasperFx/marten, pull requests merged in 2022-11, with the labels that each got.

#2356 Add dynamic OrderBy extensions for batched queries
  src/DocumentDbTests/Reading/Linq/query_with_order_by_dynamic_props_tests.cs
  src/Marten/QueryableExtensions.cs
Labels: linq

#2382 Fixed bulk insert of documents with nullable value types (e.g. int?)
  src/DocumentDbTests/Indexes/duplicated_field.cs
  src/Marten/Internal/CodeGeneration/BulkLoader.cs
  src/Marten/Schema/Arguments/UpsertArgument.cs
Labels: bug, bulk loader, 5.x, bulk changes

#2392 Create connection and enlist transaction for async operations
  src/CoreTests/ability_to_use_an_existing_connection_and_transaction.cs
  src/Marten/Internal/Sessions/AmbientTransactionLifetime.cs
Labels: bug, connection mangement
