Repository JasperFx/marten, pull requests merged in 2022-02, with the labels that each got.

#2067 Optimizes Safe Sequence Finder using Current Safe Sequence Id
  src/Marten/Events/Daemon/HighWater/HighWaterDetector.cs
  src/Marten/Events/Daemon/HighWater/SafeSequenceFinder.cs
Labels: enhancement, async daemon, 5.x

#1962 Add support for case-insensitive order by for strings
  src/DocumentDbTests/Bugs/query_with_order_by.cs
  src/Marten/Linq/Operators/OrderByComparerClause.cs
  src/Marten/Linq/Operators/OrderByComparerExpressionNode.cs
  src/Marten/Linq/Parsing/LinqHandlerBuilder.cs
  src/Marten/Linq/Parsing/MartenQueryParser.cs
  src/Marten/Linq/SqlGeneration/Statement.cs
Labels: enhancement, linq, breaking change

#2057 Select transform with dictionary fails
  src/Marten.Testing/Bugs/Bug_XXXX_select_transform_dictionary.cs
  src/Marten/Linq/Parsing/SelectTransformBuilder.cs
Labels: bug, linq, 5.x
