Repository JasperFx/marten, pull requests merged in 2023-11, with the labels that each got.

#2765 Update the Introduction (introduction.md)
  docs/introduction.md
Labels: enhancement, docs, 6.x

#2790 Updated Weasel to 6.4.1 to fix the regression around the DbObjectName handling
  src/Marten.CommandLine/Marten.CommandLine.csproj
  src/Marten/Marten.csproj
Labels: bug, dependencies, 6.x

#2783 Support to write json with raw SQL to HttpContext
  src/IssueService/Controllers/JsonController.cs
  src/Marten.AspNetCore.Testing/web_service_streaming_tests.cs
  src/Marten.AspNetCore/QueryableExtensions.cs
Labels: enhancement, 6.x, asp.net

#2794 Fix GH-2780 to remove short alias for ProjectionInput ShardTimeoutFlag
  src/Marten.CommandLine/Commands/Projection/ProjectionInput.cs
Labels: bug, async daemon, CommandLine, 6.x

#2448 Add failing test for #2433
  src/DocumentDbTests/Bugs/Bug_2433_include_with_take.cs
Labels: linq
