Repository JasperFx/marten, pull requests merged in 2023-02, with the labels that each got.

#2470 Fix DocumentMapping.IdMember setter
  src/DocumentDbTests/Bugs/Bug_2327_using_identity_extension_on_class_with_invalid_type_id_field.cs
  src/Marten/Schema/DocumentMapping.cs
Labels: bug, documentdb, 6.x

#2443 Add index for nullable `LocalDate`
  src/Marten.NodaTime.Testing/Acceptance/noda_time_acceptance.cs
  src/Marten.NodaTime.Testing/Bug_2307_JObject_in_dictionary_duplicated_field.cs
  src/Marten.NodaTime.Testing/Marten.NodaTime.Testing.csproj
  src/Marten.NodaTime.Testing/TestData/TargetWithDates.cs
  src/Marten.NodaTime/Marten.NodaTime.csproj
  src/Marten.NodaTime/NodaTimeExtensions.cs
Labels: bug, breaking change, NodaTime, indexes, 6.x

#2479 Bumped Weasel version to enable Advisory Locks retries when got Admin Shutdown (57P01) Postgres error was thrown
  Analysis.Build.props
  src/AspNetCoreWithMarten/AspNetCoreWithMarten.csproj
  src/CoreTests/CoreTests.csproj
  src/DocumentDbTests/DocumentDbTests.csproj
  src/EventPublisher/EventPublisher.csproj
  src/EventSourcingTests/EventSourcingTests.csproj
  src/IssueService/IssueService.csproj
  src/Marten.AspNetCore.Testing/Marten.AspNetCore.Testing.csproj
  src/Marten.AsyncDaemon.Testing/Marten.AsyncDaemon.Testing.csproj
  src/Marten.CommandLine.Tests/Marten.CommandLine.Tests.csproj
  src/Marten.CommandLine/Marten.CommandLine.csproj
  src/Marten.NodaTime.Testing/Marten.NodaTime.Testing.csproj
  src/Marten.NodaTime/Marten.NodaTime.csproj
  src/Marten.PLv8.Testing/Marten.PLv8.Testing.csproj
  src/Marten.Testing/Marten.Testing.csproj
  src/Marten/Marten.csproj
  src/MartenBenchmarks/MartenBenchmarks.csproj
  src/samples/MinimalAPI/MinimalAPI.csproj
Labels: enhancement, schema management, dependencies, 6.x

#2485 Updated code after Weasel breaking changes in v6-alpha.10
  Directory.Build.props
  docs/schema/authorization.md
  src/CoreTests/DatabaseMultiTenancy/using_per_database_multitenancy.cs
  src/CoreTests/DatabaseMultiTenancy/using_static_database_multitenancy.cs
  src/CoreTests/Util/SchemaUtils.cs
  src/CoreTests/adding_custom_schema_objects.cs
  src/CoreTests/executing_arbitrary_sql_as_part_of_transaction.cs
  src/DocumentDbTests/Bugs/Bug_416_cannot_create_index_on_datetime_field.cs
  src/DocumentDbTests/Bugs/Bug_953_too_long_index_names.cs
  src/DocumentDbTests/Bugs/Bug_957_duplicating_a_string_array.cs
  src/DocumentDbTests/Bugs/bug_1338_Validate_Null_ForeignKeyDefinition_ReferenceDocumenType.cs
  src/EventSourcingTests/EventSequenceFetcherTests.cs
  src/EventSourcingTests/Projections/Flattened/flat_table_projection_with_event_member_identifier_end_to_end.cs
  src/EventSourcingTests/Projections/Flattened/flat_table_projection_with_stream_id_identifier_end_to_end.cs
  src/EventSourcingTests/Projections/Flattened/flat_table_projection_with_stream_key_identifier_end_to_end.cs
  src/EventSourcingTests/Projections/include_extra_schema_objects_from_projections.cs
  src/EventSourcingTests/archiving_events.cs
  src/EventSourcingTests/event_store_with_string_identifiers_for_stream.cs
  src/Marten.AspNetCore/Marten.AspNetCore.csproj
  src/Marten.AsyncDaemon.Testing/multi_tenancy_by_database.cs
  src/Marten.CommandLine/Marten.CommandLine.csproj
  src/Marten.NodaTime/Marten.NodaTime.csproj
  src/Marten.PLv8/Marten.PLv8.csproj
  src/Marten.Testing/Examples/DDLCustomization.cs
  src/Marten/Marten.csproj
  src/Marten/Storage/MartenDatabase.DocumentCleaner.cs
  src/Marten/Storage/MartenDatabase.cs
Labels: enhancement, breaking change, CI, dependencies, 6.x

#2494 Added test for SystemTextJson serialization and projections handling with records
  docs/configuration/json.md
  src/EventSourcingTests/Json/SystemTextJsonRecordSerializationTests.cs
  src/Marten.Testing/Examples/UsingSystemTextJsonSerializer.cs
Labels: event store, serializer, projections, 6.x
