Repository JasperFx/marten, pull requests merged in 2023-03, with the labels that each got.

#2513 Respecting the STJ [JsonPropertyName] or Newtonsoft [JsonProperty] at…
  src/DocumentDbTests/Reading/Linq/recognizing_json_names_from_attributes.cs
  src/Marten/Linq/Fields/FieldBase.cs
Labels: linq

#2514 Renamed asynchronous session creation to include explicit Serializable name
  docs/configuration/storeoptions.md
  docs/documents/sessions.md
  docs/scenarios/aggregates-events-repositories.md
  src/CoreTests/Bugs/Bug_2135_open_session_should_use_provided_connection_string.cs
  src/CoreTests/DatabaseMultiTenancy/using_per_database_multitenancy.cs
  src/CoreTests/DatabaseMultiTenancy/using_static_database_multitenancy.cs
  src/CoreTests/ability_to_use_an_existing_connection_and_transaction.cs
  src/EventSourcingTests/ScenarioAggregateAndRepository.cs
  src/Marten.AsyncDaemon.Testing/multi_stream_aggregation_end_to_end.cs
  src/Marten.Testing/Examples/OpeningASessionAsync.cs
  src/Marten/DocumentStore.cs
  src/Marten/Events/Daemon/ProjectionDaemon.cs
  src/Marten/IDocumentStore.cs
Labels: enhancement, breaking change, connection mangement, 6.x

#2516 Ensure identity map is updated if record-type is changed
  src/DocumentDbTests/SessionMechanics/identity_map_mechanics.cs
  src/Marten.Testing/Documents/User.cs
  src/Marten/Internal/Storage/IdentityMapDocumentStorage.cs
Labels: enhancement, 6.x, identity

#2526 Bumped code generation packages to 2.0
  Analysis.Build.props
  src/CommandLineRunner/CommandLineRunner.csproj
  src/CoreTests/CoreTests.csproj
  src/DocumentDbTests/DocumentDbTests.csproj
  src/EventPublisher/EventPublisher.csproj
  src/EventSourceWorker/EventSourceWorker.csproj
  src/EventSourcingTests/EventSourcingTests.csproj
  src/Marten.AspNetCore.Testing/Marten.AspNetCore.Testing.csproj
  src/Marten.AsyncDaemon.Testing/Marten.AsyncDaemon.Testing.csproj
  src/Marten.CommandLine.Tests/Marten.CommandLine.Tests.csproj
  src/Marten.CommandLine/Marten.CommandLine.csproj
  src/Marten.NodaTime.Testing/Marten.NodaTime.Testing.csproj
  src/Marten.NodaTime/Marten.NodaTime.csproj
  src/Marten.PLv8.Testing/Marten.PLv8.Testing.csproj
  src/Marten.Testing/Marten.Testing.csproj
  src/Marten/DocumentStore.IMartenStorage.cs
  src/Marten/Marten.csproj
  src/MartenBenchmarks/MartenBenchmarks.csproj
Labels: enhancement, dependencies, code generation, 6.x
