Repository JasperFx/marten, pull requests merged in 2023-05, with the labels that each got.

#2535 Add failure scenario for hashset contains
  docs/configuration/storeoptions.md
  docs/documents/identity.md
  docs/documents/storage.md
  src/CoreTests/CoreTests.csproj
  src/DocumentDbTests/Bugs/Bug_1563_user_friendly_warning_about_public_type.cs
  src/DocumentDbTests/Bugs/hashset_contains.cs
  src/DocumentDbTests/Configuration/DocumentMappingTests.cs
  src/DocumentDbTests/DocumentDbTests.csproj
  src/DocumentDbTests/Writing/Identity/Sequences/CombGuidIdGenerationTests.cs
  src/DocumentDbTests/Writing/Identity/Sequences/DocumentIdStrategyTests.cs
  src/EventPublisher/EventPublisher.csproj
  src/EventSourcingTests/Bugs/Bug_2296_tenant_session_in_grouper.cs
  src/EventSourcingTests/EventSourcingTests.csproj
  src/Marten.AsyncDaemon.Testing/TestingSupport/TestLogger.cs
  src/Marten.CommandLine.Tests/Marten.CommandLine.Tests.csproj
  src/Marten.CommandLine.Tests/ProjectionControllerTests.cs
  src/Marten.CommandLine/Commands/Projection/ConsoleView.cs
  src/Marten.CommandLine/Marten.CommandLine.csproj
  src/Marten.NodaTime/Marten.NodaTime.csproj
  src/Marten.PLv8.Testing/Marten.PLv8.Testing.csproj
  src/Marten.Testing.OtherAssembly/ShortGuid.cs
  src/Marten.Testing/Marten.Testing.csproj
  src/Marten/Events/Aggregation/SingleStreamProjection.cs
  src/Marten/Events/EventMapping.cs
  src/Marten/Events/Projections/ProjectionWrapper.cs
  src/Marten/Events/TestSupport/ProjectionScenario.Assertions.cs
  src/Marten/Exceptions/DocumentIdTypeMismatchException.cs
  src/Marten/Internal/CompiledQueries/CompiledQuerySourceBuilder.cs
  src/Marten/Marten.csproj
  src/Marten/Schema/DocumentMapping.cs
Labels: bug, linq, dependencies, 6.x

#2581 Ensure hot-cold coordinator exits if host cancellation occurs
  src/Marten/Events/Daemon/HotColdCoordinator.cs
Labels: bug, async daemon

#2598 Made EnableDocumentTrackingByIdentity async projection option to support custom IProjections
  src/Marten.AsyncDaemon.Testing/DocumentTrackingByIdentity/CustomProjection_follow_up_operations.cs
  src/Marten.AsyncDaemon.Testing/DocumentTrackingByIdentity/EventProjection_follow_up_operations.cs
  src/Marten/Events/Daemon/TenantActionGroup.cs
  src/Marten/Events/Daemon/TenantedEventRangeGroup.cs
  src/Marten/Events/Projections/EventProjection.cs
  src/Marten/Events/Projections/Flattened/FlatTableProjection.cs
  src/Marten/Events/Projections/ProjectionWrapper.cs
Labels: bug, async daemon, change tracking, 6.x
