Repository JasperFx/marten, pull requests merged in 2023-09, with the labels that each got.

#2700 Docs: Fix mt_doc_deadletterevent table name
  docs/events/projections/async-daemon.md
Labels: bug, docs, 6.x

#2695 Documentation: Using Custom Grouper with Fan Out Feature for Event Projections
  docs/events/projections/multi-stream-projections.md
  src/EventSourcingTests/Projections/MultiStreamProjections/CustomGroupers/custom_grouper_with_events_transformation.cs
Labels: enhancement, docs, projections, 6.x

#2701 Bumped to 6.1.0
  Analysis.Build.props
  Directory.Build.props
  docs/events/projections/multi-stream-projections.md
  src/AspNetCoreWithMarten/AspNetCoreWithMarten.csproj
  src/CoreTests/CoreTests.csproj
  src/DocumentDbTests/DocumentDbTests.csproj
  src/EventPublisher/EventPublisher.csproj
  src/EventSourcingTests/EventSourcingTests.csproj
  src/Marten.AspNetCore.Testing/Marten.AspNetCore.Testing.csproj
  src/Marten.AspNetCore/Daemon/AsyncDaemonHealthCheckExtensions.cs
  src/Marten.AspNetCore/Marten.AspNetCore.csproj
  src/Marten.AspNetCore/Properties/AssemblyInfo.cs
  src/Marten.AsyncDaemon.Testing/Marten.AsyncDaemon.Testing.csproj
  src/Marten.CommandLine.Tests/Marten.CommandLine.Tests.csproj
  src/Marten.CommandLine/Marten.CommandLine.csproj
  src/Marten.NodaTime.Testing/Marten.NodaTime.Testing.csproj
  src/Marten.NodaTime/Marten.NodaTime.csproj
  src/Marten.PLv8.Testing/Marten.PLv8.Testing.csproj
  src/Marten.PLv8/Marten.PLv8.csproj
  src/Marten.Testing/Marten.Testing.csproj
  src/Marten/Marten.csproj
Labels: dependencies, 6.x
