Repository JasperFx/marten, pull requests merged in 2023-08, with the labels that each got.

#2668 Rewrote introduction docs to make it more accessible and user friendly
  docs/introduction.md
Labels: enhancement, docs, 6.x

#2669 Added `readonly` modifier to fields that are never changed
  src/CoreTests/Internals/VersionTrackerTests.cs
  src/DocumentDbTests/Reading/Linq/Compatibility/Support/LinqTestContext.cs
  src/DocumentDbTests/Reading/Linq/Fields/DuplicatedFieldTests.cs
  src/DocumentDbTests/Reading/Linq/Fields/FieldCollectionTests.cs
  src/DocumentDbTests/Reading/Linq/Internals/StatementTests.cs
  src/DocumentDbTests/Reading/Linq/LinqExtensionsTests.cs
  src/DocumentDbTests/Reading/Linq/query_against_child_collections_integrated_Tests.cs
  src/DocumentDbTests/Reading/Linq/querying_through_n_deep_sub_collections.cs
  src/DocumentDbTests/Writing/Identity/Sequences/HiLoSequenceTests.cs
  src/EventPublisher/StatusBoard.cs
  src/EventSourcingTests/Aggregation/aggregate_stream_into_samples.cs
  src/EventSourcingTests/Projections/custom_transformation_of_events.cs
  src/EventSourcingTests/Projections/inline_transformation_of_events.cs
  src/EventSourcingTests/Projections/when_registering_a_custom_projection_type.cs
  src/EventSourcingTests/StreamActionTester.cs
  src/EventSourcingTests/appending_events_workflow_specs.cs
  src/EventSourcingTests/fetch_a_single_event_with_metadata.cs
  src/EventSourcingTests/flexible_event_metadata.cs
  src/EventSourcingTests/query_against_event_documents_Tests.cs
  src/IssueService/Controllers/IssueController.cs
  src/Marten.AsyncDaemon.Testing/HighWaterDetectorTests.cs
  src/Marten.AsyncDaemon.Testing/ProjectionControllerTests.cs
  src/Marten.AsyncDaemon.Testing/ShardStateTrackerTests.cs
  src/Marten.AsyncDaemon.Testing/StressTester.cs
  src/Marten.Testing/Harness/TestOutputMartenLogger.cs
  src/Marten/Events/EventGraph.GeneratesCode.cs
  src/Marten/Linq/Parsing/WhereClauseParser.cs
  src/Marten/StoreOptions.GeneratesCode.cs
Labels: enhancement, tests, 6.x

#2673 Added warning regarding connection bleed to the async-enumerable docs
  docs/documents/querying/linq/async-enumerable.md
Labels: enhancement, linq, docs, 6.x

#2676 Excluded pure docs changes to trigger the code build (as we had dedicated pipelines for docs)
  .github/workflows/on-push-do-ci-build-pg10.yml
  .github/workflows/on-push-do-ci-build-pg11.yml
  .github/workflows/on-push-do-ci-build-pg12.yml
  .github/workflows/on-push-do-ci-build-pg9.6.yml
  .github/workflows/on-push-do-ci-build-systemtextjson.yml
  azure-pipelines.yml
Labels: docs, CI, 6.x

#2677 Updated Weasel to 6.1.0 and other dependencies
  Analysis.Build.props
  docs/events/projections/live-aggregates.md
  src/AspNetCoreWithMarten/AspNetCoreWithMarten.csproj
  src/CoreTests/CoreTests.csproj
  src/DocumentDbTests/DocumentDbTests.csproj
  src/EventSourcingTests/EventSourcingTests.csproj
  src/Marten.AspNetCore.Testing/Marten.AspNetCore.Testing.csproj
  src/Marten.AsyncDaemon.Testing/Marten.AsyncDaemon.Testing.csproj
  src/Marten.CommandLine.Tests/Marten.CommandLine.Tests.csproj
  src/Marten.CommandLine/Marten.CommandLine.csproj
  src/Marten.NodaTime.Testing/Marten.NodaTime.Testing.csproj
  src/Marten.PLv8.Testing/Marten.PLv8.Testing.csproj
  src/Marten.Testing/Marten.Testing.csproj
  src/Marten/Marten.csproj
  src/MartenBenchmarks/MartenBenchmarks.csproj
Labels: enhancement, schema management, 6.x

#2689 Fixed Marten Exceptions transformations when NpgslCommand is null
  docs/documents/querying/linq/async-enumerable.md
  src/CoreTests/Exceptions/MartenCommandExceptionTests.cs
  src/CoreTests/SessionOptionsTests.cs
  src/Marten.sln
  src/Marten/Exceptions/InvalidConnectionStringException.cs
  src/Marten/Exceptions/MartenCommandException.cs
  src/Marten/Exceptions/MartenExceptionTransformer.cs
Labels: bug, exceptions, 6.x
