Repository JasperFx/marten, pull requests merged in 2023-07, with the labels that each got.

#2647 Fixes event types aliases resolution for not mapped explicitly event types
  src/EventSourcingTests/Bugs/nulls_in_event_name_cache.cs
  src/Marten/Events/EventGraph.cs
Labels: bug, projections, event versioning, 6.x

#2654 Added test for LiveStreamAggregation code file generation
  src/EventSourcingTests/Projections/CodeGeneration/ProjectionCodeGenerationTests.cs
  src/Marten/Events/Aggregation/GeneratedAggregateProjectionBase.Validation.cs
  src/Marten/Events/Projections/ProjectionOptions.cs
  src/Marten/Schema/DocumentMapping.cs
  src/Marten/Storage/MartenDatabase.DocumentCleaner.cs
  src/Marten/Storage/StorageFeatures.cs
Labels: bug, schema management, projections, code generation, 6.x

#2655 Added test for computed index on DateTime column migration
  docs/documents/indexing/computed-indexes.md
  docs/documents/indexing/unique.md
  docs/documents/querying/sql.md
  src/DocumentDbTests/Indexes/computed_indexes.cs
Labels: enhancement, schema management, tests, indexes, 6.x

#2656 Fixed calculating delta for Full Text Index with multiple columns
  Analysis.Build.props
  src/CoreTests/CoreTests.csproj
  src/DocumentDbTests/DocumentDbTests.csproj
  src/DocumentDbTests/Indexes/full_text_index.cs
  src/EventPublisher/EventPublisher.csproj
  src/EventSourcingTests/EventSourcingTests.csproj
  src/Marten.AspNetCore.Testing/Marten.AspNetCore.Testing.csproj
  src/Marten.AsyncDaemon.Testing/Marten.AsyncDaemon.Testing.csproj
  src/Marten.CommandLine.Tests/Marten.CommandLine.Tests.csproj
  src/Marten.CommandLine/Marten.CommandLine.csproj
  src/Marten.NodaTime.Testing/Marten.NodaTime.Testing.csproj
  src/Marten.PLv8.Testing/Marten.PLv8.Testing.csproj
  src/Marten.Testing/Marten.Testing.csproj
  src/Marten/Marten.csproj
  src/MartenBenchmarks/MartenBenchmarks.csproj
Labels: bug, schema management, full text search, 6.x
