Repository JasperFx/marten, pull requests merged in 2023-12, with the labels that each got.

#2851 Use built-in snake-casing implementation in .NET 8
  src/Marten/Services/Json/SnakeCaseNamingPolicy.cs
  src/Marten/Services/SystemTextJsonSerializer.cs
Labels: enhancement, serializer, dependencies, 7.x

#2853 #2762 Include documentation on DevOps including database migrations
  docs/devops/devops.md
Labels: enhancement, docs, CI

#2854 #2849 ApplyEventException can leak event data to logs
  src/CoreTests/Exceptions/ApplyEventExceptionTests.cs
  src/Marten/Exceptions/ApplyEventException.cs
Labels: 7.x

#2860 #2762 menu item to documentation on DevOps
  docs/.vitepress/config.ts
Labels: enhancement, docs, CI, 7.x

#2868 Update storage.md to remove `mt_append_event`
  docs/events/storage.md
Labels: bug, event store, docs, 7.x

#2870 Added Helpdesk sample from EventSourcing.NET repo
  src/Marten.sln
  src/samples/Helpdesk/Helpdesk.Api.Tests/Helpdesk.Api.Tests.csproj
  src/samples/Helpdesk/Helpdesk.Api.Tests/Incidents/AcknowledgeResolutionIncidentTests.cs
  src/samples/Helpdesk/Helpdesk.Api.Tests/Incidents/AssignAgentTests.cs
  src/samples/Helpdesk/Helpdesk.Api.Tests/Incidents/CategoriseIncidentTests.cs
  src/samples/Helpdesk/Helpdesk.Api.Tests/Incidents/CloseIncidentTests.cs
  src/samples/Helpdesk/Helpdesk.Api.Tests/Incidents/Fixtures/ApiWithAcknowledgedIncident.cs
  src/samples/Helpdesk/Helpdesk.Api.Tests/Incidents/Fixtures/ApiWithLoggedIncident.cs
  src/samples/Helpdesk/Helpdesk.Api.Tests/Incidents/Fixtures/ApiWithResolvedIncident.cs
  src/samples/Helpdesk/Helpdesk.Api.Tests/Incidents/Fixtures/Scenarios.cs
  src/samples/Helpdesk/Helpdesk.Api.Tests/Incidents/LogIncidentsTests.cs
  src/samples/Helpdesk/Helpdesk.Api.Tests/Incidents/PrioritiseIncidentTests.cs
  src/samples/Helpdesk/Helpdesk.Api.Tests/Incidents/RecordAgentResponseToIncidentTests.cs
  src/samples/Helpdesk/Helpdesk.Api.Tests/Incidents/RecordCustomerResponseToIncidentTests.cs
  src/samples/Helpdesk/Helpdesk.Api.Tests/Incidents/ResolveIncidentTests.cs
  src/samples/Helpdesk/Helpdesk.Api.Tests/Settings.cs
  src/samples/Helpdesk/Helpdesk.Api/.dockerignore
  src/samples/Helpdesk/Helpdesk.Api/Core/Http/ETagExtensions.cs
  src/samples/Helpdesk/Helpdesk.Api/Core/Kafka/KafkaProducer.cs
  src/samples/Helpdesk/Helpdesk.Api/Core/Marten/DocumentSessionExtensions.cs
  src/samples/Helpdesk/Helpdesk.Api/Core/SignalR/SignalRProducer.cs
  src/samples/Helpdesk/Helpdesk.Api/Dockerfile
  src/samples/Helpdesk/Helpdesk.Api/Helpdesk.Api.csproj
  src/samples/Helpdesk/Helpdesk.Api/Incidents/GetCustomerIncidentsSummary/IncidentSummary.cs
  src/samples/Helpdesk/Helpdesk.Api/Incidents/GetIncidentDetails/IncidentDetails.cs
  src/samples/Helpdesk/Helpdesk.Api/Incidents/GetIncidentHistory/IncidentHistory.cs
  src/samples/Helpdesk/Helpdesk.Api/Incidents/GetIncidentShortInfo/IncidentShortInfo.cs
  src/samples/Helpdesk/Helpdesk.Api/Incidents/Incident.cs
  src/samples/Helpdesk/Helpdesk.Api/Incidents/IncidentService.cs
  src/samples/Helpdesk/Helpdesk.Api/Program.cs
  src/samples/Helpdesk/Helpdesk.Api/Properties/launchSettings.json
  src/samples/Helpdesk/Helpdesk.Api/appsettings.Development.json
  src/samples/Helpdesk/Helpdesk.Api/appsettings.Production.json
  src/samples/Helpdesk/Helpdesk.Api/appsettings.json
  src/samples/Helpdesk/Helpdesk.sln
  src/samples/Helpdesk/README.md
  src/samples/Helpdesk/docker-compose.yml
Labels: enhancement, samples, 7.x
